/*------------------------------------*\
  #BASE
\*------------------------------------*/

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body,
html {
  margin: 0;
  padding: 0;
  
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  letter-spacing: 0.015rem;
  color: var(--gray);
   -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

/*
 * Headings
 */

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  margin: 0 0 1rem 0;
  line-height: 1.5rem;
  font-family: var(--font-family-heading);
}

/*
 * Paragraphs
 */

p {
  line-height: 2em;
  margin: 0 0 1rem;
  font-size: 1rem;
  @media (--breakpoint-small) {
    font-size: 1.25rem;
  }
}

/*
 * Links
 */

a {
  color: var(--red);


  &:hover {
    color: var(--gray)
  }
}


/*
 * Images
 */


img {
  max-width: 100%;
  vertical-align: top;
}

/*
 * Button
 */

.button {
  background-color: var(--white);
  padding: 1rem 1rem;
  text-decoration: none;
  color: var(--gray);
  white-space: nowrap;
  display: inline-block;
  line-height: 1rem;
  transition: all .2s ease-in;

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  }
}
