/*------------------------------------*\
  #Helpers
\*------------------------------------*/

/*
 * Font sizes
 */

.f-headline {
  font-size: 2rem;
  @media (--breakpoint-small) {
    font-size: 4rem;
  }
  @media (--breakpoint-medium) {
    font-size: 5rem;
  }
}

.f1 {
  font-size: 3rem;
}
.f2 {
  font-size: 2.25rem;
}
.f3 {
  font-size: 1.4rem;
  @media (--breakpoint-small) {
    font-size: 1.6rem;
  }
}
.f4 {
  font-size: 1.25rem;
}
.f5 {
  font-size: 1rem;
}
.f6 {
  font-size: 0.875rem;
}

/*
 * Line height
 */

.l-headline {
  line-height: 1.4em;
}

.l-subline {
  line-height: 1.5em;
}

.l-large {
  line-height: 2em;
}

.l-xlarge {
  line-height: 2.45rem;
}

/*
 * Fonts
 */

.sanserif {
  font-family: var(--font-family);
}

.serif {
  font-family: var(--font-family-serif);
}

/*
 * Text transform
 */

.ttu {
  text-transform: uppercase;
}
.tracked {
  letter-spacing: 0.15em;
}
.tracked-tidy {
  letter-spacing: 0.075em;
}

.no-wrap {
  white-space: nowrap;
}

.no-underline {
  text-decoration: none;
}

/*
 * Colors
 */

.gray {
  color: var(--gray);
}

.white {
  color: var(--white);
}

.red {
  color: var(--red);
}

/* background colors */

.bg-gray-medium {
  background-color: var(--gray-medium);
}

.bg-red {
  background-color: var(--red);
}
.bg-yellow {
  background-color: var(--yellow);
}
.bg-purple {
  background-color: var(--purple);
}

/* hover colors */

.hover-red:hover {
  color: var(--red);
}

/*
 * Padding
 */

.p0 {
  padding: 0;
}

/* level 1 */

.p1-lr {
  padding-left: 1rem;
  padding-right: 1rem;
}


/* level 3 */

.p3-lr {
  padding-left: 1rem;
  padding-right: 1rem;
  @media (--breakpoint-tiny) {
  padding-left: 3rem;
  padding-right: 3rem;
  }
}

.p3-t {
  padding-top: 3rem;
}


/* level 6 */

.p6-t {
  padding-top: 6rem;
}

/*
 * Margin
 */

/* level 0 */

.m0 {
  margin: 0;
}

.m025-b {
  margin-bottom: 0.25rem;
}

/* level 1 */

.m1-b {
  margin-bottom: 1rem;
}

.m1-r {
  margin-right: .5rem;
}

/* level 2 */

.m2-b {
  margin-bottom: 2rem;
}

/* level 3 */

.m3-b {
  margin-bottom: 3rem;
}

.m3-l {
  margin-left: 3rem;
}
/* level 4 */

.m4-t {
  margin-top: 4rem;
}

/* level 6 */

.m6-b {
  margin-bottom: 3rem;
  @media (--breakpoint-small) {
    margin-bottom: 6rem;
  }
}

.m6-t {
  margin-top: 3rem;
  @media (--breakpoint-small) {
    margin-top: 6rem;
  }
}




/* level 10 */

.m10-b {
  margin-bottom: 6rem;
  @media (--breakpoint-small) {
    margin-bottom: 10rem;
  }
}

/*
 * Lists
 */

.list-h {
  list-style: none;
  display: flex;
}

.list-v {
  font-size: 1.25rem;

  & li {
    margin-bottom: 1rem;
  }
}

.wrap {
  flex-wrap: wrap;
}

/*
 * Grids
 */

.grid-1-3 {
  @media (--breakpoint-medium) {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-column-gap: 6rem;
  }
}

.grid-halves {
  @media (--breakpoint-small) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
  }
}

.grid-thirds {
  @media (--breakpoint-small) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
  }
  @media (--breakpoint-large) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.block {
  display: block;
}

/*
 * Width
 */

.w-small {
}

.w-medium {
  max-width: 700px;
}

.w-large {
  max-width: 800px;
}

/*
 * Hover effects
 */

 .hover-effect {
       transition: all 0.2s ease-in;
 }

 .hover-effect:hover {
  transform: translateY(-1px);
  box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
 }

/*
 * Positions
 */

.center {
  margin-left: auto;
  margin-right: auto;
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*
 * Heights
 */

.h-large {
  height: 80vh;
  max-height: 400px;
  @media (--breakpoint-small) {
  height: 80vh;
  max-height: 800px;

  }
}

.cover {
  background-size: cover;
  background-position: top center;
}

.form-field {
  width: 100%;
  min-height: 3rem;
  padding: 1rem 0;
  border: 0;
  border-bottom: 2px solid var(--gray);
  font-size: 1.25rem;
}

.button {
  border: 0;
  color: var(--white);
  background-color: var(--red);
  cursor: pointer;
}