/*------------------------------------*\
  #Vars
\*------------------------------------*/

:root {
  /*
 * Fonts
 */

  --font-family: 'Roboto', helvetica, "helvetica neue", "arial", roboto,
    noto, "segoe ui", arial, sans-serif;
  --font-family-heading: 'Roboto', helvetica, "helvetica neue", "arial", ubuntu,
    roboto, noto, "segoe ui", arial, sans-serif;
  --font-family-serif: 'Merriweather', serif;

  --site-width: 86em;

  /*
  * Colors
  */

  --gray: #404040;
  --gray-light: #f7f7f7;
  --purple: #362e66;
  --red: #f54851;
  --yellow: #f5c723;
  --white: #fff;
  --gray-medium: #7e88a7;


  /*
  * Breakpoints
  */

  @custom-media --breakpoint-large (min-width: 102rem);
  @custom-media --breakpoint-tiny (min-width: 30rem);
  @custom-media --breakpoint-small (min-width: 46rem);
  @custom-media --breakpoint-medium (min-width: 59rem);
  @custom-media --breakpoint-large (min-width: 75rem);
  @custom-media --breakpoint-mobile-only (max-width: 59rem);
}
