<div class="layout">
  <div class="p1-lr">
    <div class="w-large center">
      <h1 class="f-headline m3-b">Frank Spin.</h1>
      <p>Hoi, ik ben Frank. Interface ontwerper & front-end developer uit Groningen. Ik omschrijf mijn werk als eenvoudig,
        simpel en doelgericht. Mijn specialiteit is het samenbrengen van ontwerp en techniek.
      </p>
      <p class="m3-b">Ik mocht de afgelopen jaren samenwerken met <a href="#" class="f3">klanten</a> zoals HealthCity, Corendon, Westcord, Noordhoff Uitgevers,
        Payt, CNV, NOM, HDD Group en vele anderen.</p>
      </div>
        <img class="m3-b" src="/images/frankspin.jpg" alt="">
        <div class="w-large center">
      <p>Founder van <a href="#" class="f3">ProposalMate</a>, een online tool voor zakelijke offertes. In mijn vrije tijd
        kijk ik graag series, probeer ik door de week elke dag te sporten en ben ik regelmatig aan het experimenteren met
        nieuwe technieken.
      </p>
      <p  class="m3-b">Heb je interesse om samen te werken aan je merk? Ik maak graag kennis met je. Via het <a href="#" class="f3">aanvraagformulier</a> kan je alvast informatie kwijt over je merk en het project.</p>
      <p class="m3-b">Ik kijk er naar uit om samen aan de slag te gaan.</p>
      <img class="m3-b" src="/images/frank-handtekening.png" style="max-width: 200px" />
    </div>
  </div>
</div> {{ $image := "images/frank.jpg" }} {{ $intro_image := (trim $image "/") | absURL }}