{{ define "header" }} {{ partial "home-header.html" . }} {{ end }} {{ define "main" }}
<article>
  <div class="layout layout-over p3-lr m6-b">
    <div class="grid-thirds">
      {{ range first 6 (where .Data.Pages "Type" "werk") }}
      <a href="{{.Permalink}}" class="m6-b block item no-underline gray hover-effect">
        <img class="m1-b" src="{{.Params.featured_image}}" srcset="{{.Params.featured_image2x}} 2x" alt="{{.Params.featured_description}} - {{.Title}}">
        <span class="p1-lr p0-lr-small block clearfix">
          <h4 class="m025-b f3 red">{{.Title}}</h4>
          <p>{{.Params.featured_description}}</p>
        </span>
      </a>
      {{ end }}
    </div>
  </div>
  {{ .Content }}
</article>

{{ end }}