<header class="gray layout p3-lr">
  {{ partial "site-navigation.html" (dict "color" "gray" "menu" .Site.Menus.main "base" .Site.BaseURL)}}
  <div class="m3-b">
    <h1 class="f-headline l-headline m6-b">
      {{ .Params.headline | default .Site.Title | markdownify }}
    </h1>
    <div class="grid-1-3">
      <div class="m3-b">
        <h4 class="f3 red m1">{{ .Params.Subtitle | markdownify }}</h4>
        <p class="f4">{{ .Description | markdownify }}</p>
      </div>
      <div class="m3-b">
        <h4 class="f3 red m1">Waar ik je mee kan helpen</h4>
        <p class="f4 list-h m0 p0 wrap">
          Interfaces ontwerpen, Websites bouwen, Web apps ontwikkelen, Front-end ondersteuning, Website analyses, CMS implementaties
          en React ondersteuning
        </p>
      </div>
    </div>
  </div>
</header>